.content {
position: relative;
padding-left: 36px;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -6px;
    width: 26px;
    height: 26px;
    background: url("../../../img/icon-cart.png");
  }
}